<header>
  <nav>
    <div>
      <div class="page-nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="user-panel">
        <app-login-form *ngIf="false"></app-login-form>
        <ul *ngIf="true">
          <li ><a (click)="Login()">Login</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
