<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-container">
  <span id="error-message" *ngIf="errorMessage">{{ errorMessage }}</span>
  <div class="form-field-container">
    <div class="form-field">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" required />
    </div>
    <div class="form-field">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        required
      />
    </div>
    <div class="form-field">
      <button type="submit" [disabled]="!loginForm.valid" class="submit-button">
        Login
      </button>
      <button type="GoogleLogin" class="submit-button">
        Google
      </button>
    </div>
  </div>
</form>
